/*Selector {

    Property: value;
}*/
body, html {
background-image: url(Cds8g6A.jpg) no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 100%;
}

h2 {
color:white;
text-align: center;
cursor: default;
text-shadow: 
0 1px 0 black,
0 2px 0 black,
0 3px 0 black,
0 4px 0 black,
0 5px 0 black;
font-size: 60px;
font-family: 'Poiret One', cursive;
padding-top: 20px;
padding-bottom: 15px;
transition: all 1.5s ease;
transition-delay: 0.40s;

}

.centralfont{
    font-size: 60px;
}

h2:hover{

    color:black;  
    text-shadow: 
0 1px 0 white,
0 2px 0 white,
0 3px 0 white,
0 4px 0 white,
0 5px 0 white;
font-size: 80px;
}



li{
list-style: none;
display: inline-block ;
font-size: 35px;
color: white;
font-family: 'Poiret One', cursive;
padding-right: 20px;
}

p{

color: white;
text-shadow:
0 1px 0 black,
0 2px 0 black,
0 3px 0 #000000;
text-align: center;
font-size: 25px;
font-family: 'Poiret One', cursive;
line-height: 45px;
background: rgba(0,0,0,0.5);
display:flex;
justify-content: center;
align-items: center;
min-width: 200px;
min-height: 250px;

}

.webtextstargazing{

color: white;
text-shadow:
0 1px 0 black,
0 2px 0 black,
0 3px 0 black;
text-align: justify;
font-size: 20px;
font-family: 'Poiret One', cursive;
line-height: 35px;
}


.imglorem{
    float:left;
    height: 1120px;
    width: 500px;
    
    
}

.imglorem2{
    float:right;
    height: 1120px;
    width: 500px;
    
    
}

.abouttext{
line-height: 55px;
}

.logintext{
line-height: 55px;
}

.footer1{
text-align: center;

color: white;
text-shadow:
0 1px 0 black,
0 2px 0 black,
0 3px 0 black;
font-size:25px;
position: relative;
bottom: 0px;
width:100%;


}

.audiotravis{
display: flex;
margin: 0 auto;
}

.nav-link{
    color: inherit;
}
.nav-link:hover{
    color:black;  
    text-shadow: 
0 1px 0 white,
0 2px 0 white;
}

.container{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.img50{
    flex: 1 0 21%; 
    width: 300px;
    height: 350px;
    margin: 15px;
    
    transition: all 1s;
}

.img50:hover{
    transform: scale(1.1);
}

.img49{
    flex: 1 0 21%; 
    width: 300px;
    height: 350px;
    margin: 15px;
    
    transition: all 1s;
}

.img49:hover{
    transform: scale(1.1);
}

.navbar{
color: black;
height: 50px;
}

