body,
html {
  background: url(dasf.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  width: 100%;
  height: 100%;
  font-family: 'Poiret One', sans-serif;
}

h1{

color:white;
text-align: center;
font-size: 3em;
cursor: default;
}

h2{
  color:white;
  text-align: center;
  font-size: 2.5em;
  cursor: default;

}

.btn{
  font-weight: 700;
  border-radius: 300px;
  background-color:transparent;
  border-color: white;
  transition:0.5s ease;
}

.btn-dark:hover{

  background-color: black;
  border-color: white;
  border-width: 2px;
  font-size: 20px;
}

.btn-xl{
padding: 1rem 2rem;
}

.buffer{
  height: 6rem;
}